body {
  background-color: #353535;
}
#app {
  margin-top: 40px;
  margin: 100px;
  padding: 20px;
  background-color: #555555;
  display: inline-block;
}

#start-button {
  margin-top: 20px;
  border: 1px solid #000;
  background-color: #00ff19;
  color: #fff;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

#button-container {
  justify-content: center;
}

#text-box {
  width: 70%;
  margin-top: 40px;
}
#text-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
